{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block login %}
    <div class="login">
        <form method="post">
            <div class="form-group">
                {% if error %}
                    <div class="alert alert-danger">Votre email ou votre mot de passe est incorrect.</div>
                {% endif %}
            </div>

            {% if app.user %}
                <div class="form-group">
                    You are logged in as {{ app.user.firstname }} {{ app.user.lastname }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h1>Connexion administrateur</h1>
            <div class="form-group">
                <label for="inputEmail">Email : </label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword">Mot de passe :</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group">
                <button type="submit" class="button">Connexion</button>
            </div>

            <div class="form-group">
                <a href="{{ path('app_register') }}">Inscription</a>
            </div>

        </form>
    </div>
{% endblock %}
