{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block home %}
    <div class="banniere">
        <div class="displayNone">
            <img src="{{ asset('medias/images/esport.webp') }}" id="imgEsport" alt="Joueur esport">
        </div>
        <div id="titrePrincipal">
            <h2>Nous sommes</h2>
            <h1>AnakinCorp</h1>
            <div class="borderBottom" data-aos="fade-down" data-aos-duration="2000"></div>

            <p id="textUn" data-aos="fade-right" data-aos-duration="2000">
                    Bienvenue sur le site de la <b>AnakinCorp</b>, une structure Esport sous loi 1901.
                    Notre objectif principal est de <b>créer des évenements</b> sur différentes scènes pour les <b>joueurs de tout niveaux</b>.
                    Nous avons une équipe <b>expérimentée et dévouée</b> qui travaille ensemble pour garantir que chaque tournoi soit organisé de manière
                    <b>efficace</b> et que les joueurs aient une expérience de jeu <b>agréable</b>.
                </p>

                <p id="textDeux" data-aos="fade-left" data-aos-duration="2000">
                    Notre <b>communauté</b> est également très importante pour nous. Nous avons un serveur <a href="#">Discord</a> où les joueurs peuvent se rencontrer, discuter et s'entraîner ensemble.
                    Nous organisons également des <b>événements en direct</b> pour les membres de la communauté, tels que des <b>giveaways</b> et des <b>sessions de questions réponses</b> avec les membres de l'équipe.
                </p>
            <div class="buttonA">
                <a href="#">Nous contacter</a>
            </div>

        </div>
    </div>

    <div class="nosEquipes">
        <h2>DÉCOUVREZ NOS ÉQUIPES</h2>
        <div class="allCard">
            <a href="{{ path('app_equipe_rocketleague') }}">
                <div class="card" data-aos="fade-right" data-aos-duration="2000">
                    <div class="image imageRocket" >
                        <img src="{{ asset('medias/images/competition/rocketLeague.jpg') }}" alt="Équipe Rocket">
                        <h3 class="title">Rocket League</h3>
                    </div>
                </div>
            </a>

            <a href="{{ path('app_equipe_callofduty') }}">
                <div class="card">
                    <div class="image">
                        <img src="{{ asset('medias/images/competition/callOfduty.webp') }}" alt="Équipe Call of Duty">
                        <h3 class="title">Call of Duty</h3>
                    </div>
                </div>
            </a>

            <a href="{{ path('app_equipe_apexlegends') }}">
                <div class="card" data-aos="fade-left" data-aos-duration="2000">
                    <div class="image">
                        <img src="{{ asset('medias/images/competition/apexLegends.webp') }}" alt="Équipe Apex">
                        <h3 class="title">Apex Legends</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="competitionEsport">
        <img src="{{ asset('medias/images/equipeEsport.png') }}" alt="">

        <div class="fenetre">
            <h2>PROCHAINE COMPETITION</h2>

            {% for key, competition in competitions|slice(0, 3) %}
                <a href="{{ competition.link }}" target="_blank">
                    <div class="imageCompet" data-aos="{{ key % 2 == 0 ? 'fade-right' : 'fade-left' }}" data-aos-duration="2000">
                        <img src="{{ asset('medias/images/competition/' ~ competition.images) }}" alt="{{ competition.title }}">
                        <h3 class="titleCompet">{{ competition.title }}</h3>
                        <span class="dateCompet">{{ competition.type }} <br>{{ competition.date|date('d F Y H:i') }}</span>
                    </div>
                </a>

            {% endfor %}
        </div>
    </div>

    <div class="partenaire">
        <h2>NOS PARTENAIRES</h2>

        {% for key, partenaire in partenaires|slice(0, 3)  %}
            <div class="cardPartenaire {% if loop.index == 2 %}right-card{% else %}left-card{% endif %}" data-aos="{{ key % 2 == 0 ? 'fade-right' : 'fade-left' }}" data-aos-duration="2000">
                <a href="{{ partenaire.link }}">
                    <img src="{{ asset('medias/images/partenaire/' ~ partenaire.images) }}" alt="{{ partenaire.name }}">
                </a>
                <h3>{{ partenaire.name }}</h3>
            </div>
        {% endfor %}
    </div>

    <div class="twitch">
        <div class="cardTwitch">
            <div class="cardStreamerAll">
                <div class="twitchLogo">
                    <img src="{{ asset('medias/images/twitchLogo.png') }}" alt="">
                </div>

                {% for streamer in streamers %}
                    {% if streamer.id == 1 %}
                        <div class="cardStreamer" data-aos="fade-down" data-aos-duration="2000">
                            <a href="{{ streamer.link }}" class="streamer-link">
                                <img src="{{ asset('medias/images/streamer/' ~ streamer.images) }}" alt="Twitch de la AnakinCorp">
                                <p class="nameStreamer">{{ streamer.name }}</p>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="streamerPartenaire">
                    {% for streamer in streamers %}
                        {% if streamer.id in [2, 3] %}
                            <div class="cardStreamer" data-aos="{% if streamer.id == 3 %}fade-left{% elseif streamer.id == 2 %}fade-right{% else %}fade-down{% endif %}"  data-aos-duration="2000">
                                <a href="{{ streamer.link }}" class="streamer-link">
                                    <img src="{{ asset('medias/images/streamer/' ~ streamer.images) }}" alt="Twitch de la AnakinCorp">
                                    <p class="nameStreamer">{{ streamer.name }}</p>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    {{ include('réutilisable/actualites.html.twig') }}

{% for compteur in compteurs %}
    <div class="compteur">
        <div class="imgClavierGaming">
            <img src="{{ asset('medias/images/clavierGaming.jpg') }}" alt="clavier gaming">
            <div class="cardsContainer">
                <div class="cardStats">
                    <p id="compteur" class="number"></p>
                    <p class="nameCardStats">
                        JOUEURS/SES
                    </p>
                </div>
                <div class="cardStats">
                    <p id="compteur2" class="number"></p>
                    <p class="nameCardStats">
                        MEMBRES
                    </p>
                </div>
                <div class="cardStats">
                    <p id="compteur3" class="number"></p>
                    <p class="nameCardStats">
                        EQUIPES
                    </p>
                </div>
                <div class="cardStats">
                    <p id="compteur4" class="number"></p>
                    <p class="nameCardStats">
                        STAFF
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}
