{% extends 'base.html.twig' %}

{% block title %}
    Equipe Apex Legends
{% endblock %}

{% block equipeApexLegends %}
    <div class="equipeEsportApexLegendsPresentation">
        <div class="equipe">
            <h2>Apex Legends</h2>
            <div class="allCard">
                {% for equipeApexLegends in equipeApexLegends %}
                    {% if loop.index is odd %}
                        <div class="cardEquipe" id="equipe{{ loop.index }}">
                            <div class="card" data-aos="fade-right" data-aos-duration="1000">
                                <div class="image">
                                    <img src="{{ asset('medias/images/equipeApexLegends/' ~ equipeApexLegends.images) }}" alt="Équipe Apex">
                                    <h3 class="title">{{ equipeApexLegends.id == 1 ? 'Capitaine' : 'Joueur 3' }} : {{ equipeApexLegends.firstname }} {{ equipeApexLegends.lastname }}</h3>
                                </div>
                            </div>
                            <div class="description" data-aos="fade-right">
                                <h3>Présentation IRL</h3>
                                <p>
                                    {{ equipeApexLegends.presentationIRL }}
                                </p>
                                <h3>Présentation IG</h3>
                                <p>
                                    {{ equipeApexLegends.presentationIG }}
                                </p>
                            </div>
                        </div>
                    {% else %}
                        <div class="cardEquipe" id="equipe{{ loop.index }}">
                            <div class="description" data-aos="fade-right">
                            <h3>Présentation IRL</h3>
                                <p>
                                    {{ equipeApexLegends.presentationIRL }}
                                </p>
                                <h3>Présentation IG</h3>
                                <p>
                                    {{ equipeApexLegends.presentationIG }}
                                </p>
                            </div>
                            <div class="card" data-aos="fade-right" data-aos-duration="1000">
                                <div class="image">
                                    <img src="{{ asset('medias/images/equipeApexLegends/' ~ equipeApexLegends.images) }}" alt="Équipe Apex">
                                    <h3 class="title">{{ equipeApexLegends.id == 2 ? 'Joueur 2' : 'Coach' }} : {{ equipeApexLegends.firstname }} {{ equipeApexLegends.lastname }}</h3>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}

