{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block equipeCallOfDuty %}
    <div class="equipeEsportCallofDutyPresentation">
        <div class="equipe">
            <h2>Call of duty</h2>
            <div class="allCard">
                {% for equipeCallOfDuty in equipeCallOfDuty %}
                    {% if loop.index is odd %}
                        <div class="cardEquipe" id="equipe{{ loop.index }}">
                            <div class="card" data-aos="fade-right" data-aos-duration="1000">
                                <div class="image">
                                    <img src="{{ asset('medias/images/equipeCallOfDuty/' ~ equipeCallOfDuty.images) }}" alt="Équipe Apex">
                                    <h3 class="title">{{ equipeCallOfDuty.id == 1 ? 'Capitaine' : 'Joueur 3' }} : {{ equipeCallOfDuty.firstname }} {{ equipeCallOfDuty.lastname }}</h3>
                                </div>
                            </div>
                            <div class="description" data-aos="fade-right">
                                <h3>Présentation IRL</h3>
                                <p>
                                    {{ equipeCallOfDuty.presentationIRL }}
                                </p>
                                <h3>Présentation IG</h3>
                                <p>
                                    {{ equipeCallOfDuty.presentationIG }}
                                </p>
                            </div>
                        </div>
                    {% else %}
                        <div class="cardEquipe" id="equipe{{ loop.index }}">
                            <div class="description" data-aos="fade-right">
                                <h3>Présentation IRL</h3>
                                <p>
                                    {{ equipeCallOfDuty.presentationIRL }}
                                </p>
                                <h3>Présentation IG</h3>
                                <p>
                                    {{ equipeCallOfDuty.presentationIG }}
                                </p>
                            </div>
                            <div class="card" data-aos="fade-right" data-aos-duration="1000">
                                <div class="image">
                                    <img src="{{ asset('medias/images/equipeCallOfDuty/' ~ equipeCallOfDuty.images) }}" alt="Équipe Apex">
                                    <h3 class="title">{{ equipeCallOfDuty.id == 2 ? 'Joueur 2' : 'Coach' }} : {{ equipeCallOfDuty.firstname }} {{ equipeCallOfDuty.lastname }}</h3>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

