{% extends 'base.html.twig' %}

{% block title %}
    Equipe Rocket League
{% endblock %}

{% block equipeRocketLeague %}
    <div class="equipeEsportRocketLeaguePresentation">
        <div class="equipe">
            <h2>Rocket League</h2>
            <div class="allCard">
                {% for equipeRocket in equipeRocket %}
                    {% if loop.index is odd %}
                        <div class="cardEquipe" id="equipe{{ loop.index }}">
                            <div class="card" data-aos="fade-right" data-aos-duration="1000">
                                <div class="image">
                                    <img src="{{ asset('medias/images/equipeRocket/' ~ equipeRocket.images) }}" alt="Équipe Apex">
                                    <h3 class="title">{{ equipeRocket.id == 1 ? 'Capitaine' : 'Joueur 3' }} : {{ equipeRocket.firstname }} {{ equipeRocket.lastname }}</h3>
                                </div>
                            </div>
                            <div class="description" data-aos="fade-right">
                                <h3>Présentation IRL</h3>
                                <p>
                                    {{ equipeRocket.presentationIRL }}
                                </p>
                                <h3>Présentation IG</h3>
                                <p>
                                    {{ equipeRocket.presentationIG }}
                                </p>
                            </div>
                        </div>
                    {% else %}
                        <div class="cardEquipe" id="equipe{{ loop.index }}">
                            <div class="description" data-aos="fade-right">
                                <h3>Présentation IRL</h3>
                                <p>
                                    {{ equipeRocket.presentationIRL }}
                                </p>
                                <h3>Présentation IG</h3>
                                <p>
                                    {{ equipeRocket.presentationIG }}
                                </p>
                            </div>
                            <div class="card" data-aos="fade-right" data-aos-duration="1000">
                                <div class="image">
                                    <img src="{{ asset('medias/images/equipeRocket/' ~ equipeRocket.images) }}" alt="Équipe Apex">
                                    <h3 class="title">{{ equipeRocket.id == 2 ? 'Joueur 2' : 'Coach' }} : {{ equipeRocket.firstname }} {{ equipeRocket.lastname }}</h3>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
